insmod efi_gop
insmod gfxterm
insmod font
insmod video_bochs
insmod video_cirrus
insmod all_video

set gfxmode=auto
set gfxpayload=keep

if loadfont /boot/grub/fonts/terminus-16.pf2 ; then
  set gfxmode=auto
  insmod gfxterm
  terminal_output gfxterm
fi

set theme=/boot/grub/themes/moke-grub/theme.txt
export theme

menuentry "mokeOS Beta" --class moke_logo {
    insmod multiboot
    multiboot /boot/mokeos.bin
    boot
}